.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282E35;
  padding: 6px;
  position: relative;
  text-align: center;
  overflow: hidden;
  font-size: calc(10px + 1vmin);
  color: white;
}


.links {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;
}

li {
  margin-bottom: 20px;
}

li:last-child {
 margin-bottom: 0px;
}


.tile {
  color: white;
  padding: 8px;
}


body{
  background-color: #21272D;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
  max-width: 600px;
  vertical-align: bottom;
}

a {
  text-decoration: none;
}

p {
  color: white;
}

.displaybox {
  margin-top: 20px;
  margin-left: 10%;
  position: absolute;
  left: auto;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);
}

.displaybox .infotext {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}

.displaybox:hover .infotext {
  visibility: visible;
  opacity: 1;
}