
.App {
  text-align: center;
}



.App-header {
  background-color: #282E35;
  box-sizing: border-box;
  padding: 6px;
  text-align: center;
  font-size: calc(10px + 1vmin);
  color: white;
}


.links {
  list-style-type: none;
  position: absolute;
  top: 0;
  left: 0;

}


li {
  margin-bottom: 20px;

  
}

li:last-child {
 margin-bottom: 0px;
}

.title {
  background: linear-gradient(
    to right, 
    hsl(198, 83%, 47%), 
    hsl(240, 83%, 96%)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.tile {
  color: white;
  padding: 8px;
  border-radius: 50%;
}


.tile:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #1E4573;
}
/*#1E4573 */
.tile:hover {
  color: #1E4573;
  box-shadow: 0 0 5px #1E4573;
  text-shadow: 0 0 5px #1E4573;
}


body{
  background-color: #21272D;
}

.App-link {
  color: #61dafb;
}


img {
  height: 400px;
  width: 400px;
  object-fit: scale-down;
  vertical-align: bottom;

}



@media only screen and (max-width: 800px) {
  img {
    height: 45vw;
    width: 45vw;
  }

  .displayBox .infotext {
    width: 45vw;
  }

  .tile {
    padding: 0px;
  }

  .links {
    padding-left: 20px;
  }
}

a {
  text-decoration: none;
}

p {
  color: white;
}

.displayBoxContainer {
  display: flex;
  object-fit: contain;
  padding: 50px;
  justify-content:space-evenly;
}

.displayBox {
  vertical-align: bottom;
  margin: 0%;
  box-shadow:
  2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
  22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  100px 100px 80px rgba(0, 0, 0, 0.07);

  transition: all .2s ease-in-out;
}

.displayBox:hover::before {
  transform: scale(1.1);
  box-shadow: 0 0 15px #1E4573;
}

.displayBox:hover {
  color: #1E4573;
  box-shadow: 0 0 20px #1E4573;
  text-shadow: 0 0 20px #1E4573;

  transform: scale(1.1);
}

.displayBox .infotext {
  padding-top: 20px;
  position: absolute;
  visibility: visible;
  color: white;
  max-width: 400px;
  -webkit-transition: opacity 600ms, visibility 600ms;
  transition: opacity 600ms, visibility 600ms;
}


.displayBox:hover .infotext {
  visibility: visible;
  opacity: 1;
}
